$u-content-color: #303133;

$u-type-primary: #409EFF;
$u-type-success: #67C23A;
$u-type-warning: #E6A23C;
$u-type-error: #F56C6C;
$u-type-info: #909399;

$u-type-primary-disabled: #A0CFFF;
$u-type-success-disabled: #B3E19D;
$u-type-warning-disabled: #F3D19E;
$u-type-error-disabled: #FAB6B6;
$u-type-info-disabled: #C8CBD0;

$u-type-primary-light: #ECF5FF;
$u-type-success-light: #F0F9EB;
$u-type-warning-light: #FAF3EB;
$u-type-error-light: #FEF0F0;
$u-type-info-light: #F4F4F5;

$u-type-primary-dark: #337ECC;
$u-type-success-dark: #529B2E;
$u-type-warning-dark: #B88230;
$u-type-error-dark: #C45656;
$u-type-info-dark: #73767A;